@import "import.less";

.leplayer-container
{
	display: inline-block;
	line-height: 0;
	position: relative;

	.play-overlay
	{
		background: rgba(0, 0, 0, 0.4);
		bottom: 0;
		color: #fff;
		cursor: pointer;
		height: 100%;
		font-size: 80px;
		left: 0;
		position: absolute;
		right: 0;
		text-align: center;
		top: 0;
		width: 100%;
		z-index: @z-index-base + 1;
		&:hover
		{
			background: rgba(0, 0, 0, 0.1);
			color: @color-background-play;
		}
	}
}