@color-background: #e1e8ef;
@color-background-line: #768aa7;
@color-background-play: #678bae;
@color-disabled: #94a5bc;
@color-primary: #1a4a7e;

@control-font-size: 16px;
@control-height: 32px;
@control-width: 32px;
@control-play-width: 60px;

@divider-width: 10px;

@z-index-base: 500;