$color-background: #e1e8ef; // rgb(225, 232, 239)
$color-background-line: #768aa7; // rgb(118, 138, 167)
$color-background-play: #678bae; // rgb(103, 139, 174)
$color-disabled: #94a5bc; // rgb(148, 165, 188)
$color-primary: #1a4a7e; // rgb(26, 74, 126)

$control-font-size: 16px;
$control-text-font-size: 12px;
$control-height: 32px;
$control-width: 32px;
$control-play-width: 60px;

$divider-width: 10px;

$z-index-base: 500;