@import "variables.less";


.leplayer
{
	display: block;
	outline: 0;
	position: relative;
	background-color: transparent;

	&.leplayer--fullscreen
	{
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		width: 100% !important;
		max-width: none !important;

	}

}
